body {
  margin: 0;
  padding: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 79% 76%,
      hsla(240, 100%, 70%, 0.42) 0px,
      transparent 50%
    ),
    radial-gradient(at 19% 28%, hsla(240, 100%, 70%, 0.42) 0px, transparent 50%);
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}
b,
h1,
dt,
thead {
  color: chartreuse;
}

p {
  margin: 50px;
  text-align: justify;
}

a {
  text-decoration: none;
  font-size: smaller;
  background-color: chartreuse;
  padding: 10px;
  border-radius: 5px;
}

.row {
  display: flex;
}

.column {
  flex-direction: row;
  border: 5px double white;
  margin: 50px;
  padding: 50px;
  text-align: center;
  width: 50%;
}

span {
  color: aquamarine;
}

form {
  margin: 20px;
  width: 100%;
}

form div {
  margin: 20px 0;
}

input,
select,
textarea {
  padding: 15px;
  width: 100%;
}

input:hover,
select:hover,
textarea:hover {
  border-color: white;
  border-width: 3px;
}

h1 {
  text-align: center;
}

form {
  background-color: aquamarine;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  padding: 50px;
}

#button {
  width: auto;
  border-radius: 10px;
}

li {
  text-align: left;
}
